[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
celery = "*"
django-ckeditor = "*"
django-environ = "*"
braintree = "*"
weasyprint = "*"
django-storages = "*"
boto3 = "*"
python-decouple = "*"
sentry-sdk = "*"
psycopg2-binary = "*"
django-ckeditor-5 = "*"
djangorestframework = "*"
phonenumbers = "*"


[dev-packages]

[requires]
python_version = "3.9"
