.price-table {
    border-radius: 50px;
    text-align: center;
    padding: 30px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-box-shadow: 0 10px 20px 0 rgb(61 82 96 / 15%);
    box-shadow: 0 10px 20px 0 rgb(61 82 96 / 15%);

}

.price-table .price-text {
    margin-bottom: 30px;

}

.price-table .price-value {
    margin-top: 20px;
    margin-bottom: 20px;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.price-table .price-footer {
    margin-top: 30px;
}
.price-table .price-icon i {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    border-radius: 50%;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background: var(--theme-color);
    color: #fff;
}

.price-icon i {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    border-radius: 50%;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background: var(--theme-color);
    color: #fff;
}

.price-table .price-footer .price-block-btn {
    padding: 15px 30px;
    border-radius: 50px;
}


.price-table:hover {
    transform: translateY(-5px);
    box-shadow: 0 23px 49px 0 rgb(61 82 96 / 15%);
}