    <!-- Questions -->
    <div class="accordion-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading font-weight-bold"  style="color: var(--theme-color);" >FAQs</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->   
            <div class="row">
                <div class="col-lg-12">
                    <div class="accordion" id="accordionExample">
                        
                        <!-- Accordion Item -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is StartBox?</button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">StartBox is your pocket legal buddy if you are an individual, a small or a small to medium-sized business owner interested in fast, accessible and affordable legal services in the form of legal document templates, general step-by-step guidance on standard legal procedures and quick consultation with a lawyer on compliance for your business.</div>
                            </div>
                        </div>
                        <!-- end of accordion-item -->

                        <!-- Accordion Item -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What are templates?</button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">These are standardized legal documents you are likely to need in your business such as standard supply agreements, employment contracts and affidavits. 
                                    We have thought through the needs of a small to medium sized business owner, and prepared individual documents which you can access and customize by filling in your specifications. </div>
                            </div>
                        </div>
                        <!-- end of accordion-item -->

                        <!-- Accordion Item -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What are customized packages?</button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">Instead of accessing individual documents, you can purchase an entire package of templates for your customization! Just look through the descriptions of each package, find which one is most suitable for your business needs, preview them, and purchase at a great package deal.</div>
                            </div>
                        </div>
                        <!-- end of accordion-item -->

                          <!-- Accordion Item -->
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Can I get legal advice through StartBox?</button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">Yes! We are at your service for a free consultation on any questions you might have. 
                                    The first  hour is free, after which we charge Ksh 1000 per hour</div>
                            </div>
                        </div>
                        <!-- end of accordion-item -->

                    </div> <!-- end of accordion -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of accordion-1 -->
    <!-- end of questions -->