{% extends "base.html" %}

{% block content %}
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/pricing-services.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/faq.css' %}">



<style>
 
    .navbar-nav > a{
        padding-left: 30px;
        padding-right:30px
    }
    .card{
        border-radius: 8px;
        padding: 56px 18px;
        background: #FFFFFF;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.07);
        border: none;
        min-height: 340px;

    }

    .card-body> img{
        height:50px;
        padding-bottom:1em;
    }
    section{
        padding-bottom: 4em;
    }

    .btn {
        color: #fff;
        background-color: var(--theme-color)!important;
        border-color: var(--theme-color)!important;
     
    }
    .btn-main{
        padding: 15px 30px;
        /* display: block; */
        border-radius: 50px;
    }
  
    .card-pricing{
        min-height: 450px;
    }
    .navbar-nav .nav-link > .fa > .badge {
        font-size: 0.55rem;
        position: absolute;
        right: 0;
        font-family: sans-serif;
    }
    .navbar-nav .nav-link > .fa {
        top: 3px;
        line-height: 12px;
        position: relative;
        width: 36px;
        font-size: 24px;
    }
 
    .client-img {
        width: 120px;
        height: 120px;
        overflow: hidden;
        border: 4px solid #FFA800;
        margin: 0px auto 20px;
        border-radius: 100%;

    }
    #testimonialCarousel{
        background: #FCFCFC;
        border-radius: 30px;
    }

    

    @media only screen and (max-width: 968px) {

        .card{
            margin-bottom: 2em;
        }
        .mobilenopadding{
            padding-top: unset!important;
            padding-left: unset!important;
        }
        .why-startbox{
            text-align: center;
        }
        .hero-img{
            height: 300px;
        }
     
    }

</style>
<body>

    <main>  
     <section id="hero">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6 m-auto px-3">
                   
                    <h1 class="display-4 mb-3" style="font-weight: 500;"><strong>DIY Legal and Compliance toolbox</strong> </h1>
                    <p class="lead pb-3">Your all-in-one kit for Startup founders, Entrepreneurs and Small businesses</p>
                    <!-- <button type="button" class="btn btn-primary">Get Templates</button> -->
                    <a href="{% url 'frontend:packages' %}" class="mt-auto btn btn-primary mb-5">Let’s Get Started</a>

                    
                </div>
                <div class="col-md-6">
                    <img class="img-fluid hero-img" src="{% static 'frontend/img/hero.png' %}">
                </div>
            </div>
        </div>
     </section> 


<!-- Why StartBox -->
<section id="hero" style="background-color: #E7EFEB;">
    <div class="container pt-5 why-startbox">
        <div class="row">
            <div class="col-md-4">
            <h2 class="mb-3 pb-3 font-weight-bold">Why StartBox</h2>
            <p class="lead pb-3">Your all-in-one kit for Startup founders, Entrepreneurs and Small businesses</p>
            </div>

            <div class="row col-md-8 pt-3">
                
                <div class="col-md-2">
                    <img src="{% static 'frontend/img/Frame 66.png' %}" alt="">
                </div> 
                <div class="col-md-2">
                    <p>Affordable & 
                        Transparent pricing</p>
                </div>
                <div class="col-md-2">
                    <img src="{% static 'frontend/img/Frame 68.png' %}" alt="">
                </div>
                <div class="col-md-2">
                    <p>Easy to use
                        documents</p>        
                </div>
                <div class="col-md-2">
                    <img src="{% static 'frontend/img/Frame 72.png' %}" alt="">
                </div>
                <div class="col-md-2">
                    <p>Saves
                        you time</p>
                </div>


            </div>

        </div>
    </div>
</section>    


<!-- Services -->
<section class="pt-5" id="services" style="background-color: #F0F6F6;">
    <div class="container text-center">
        <h2 class="mb-3 font-weight-bold">Services</h2>
        <p class="lead">We strive to keep you updated on legal compliance</p> 
<!-- New Pricing -->
    <div class="row justify-content-center pt-3">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title font-weight-bold">The Custom bundle</h4>
                  <p class="card-text pb-3">Designed for aiding the techstartup, online business and small or medium business</p>
                  <a href="{% url 'frontend:packages' %}" class="btn btn-primary"> Let’s see what’s inside
                  </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title font-weight-bold">A Single document</h4>
                  <p class="card-text pb-3">Find  a specific template to suit what you would like to accomplish.  options range from registration guidelines</p>
                  <a href="{% url 'frontend:templates' %}" class="btn btn-primary">Help me find…
                </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title font-weight-bold">The Consult</h4>
                  <p class="card-text">Get personalized legal support from  our team of  startup / SME’s legal experts.  
                    We offer legal consultancy services</p>
                  <a href="{% url 'frontend:contact' %}" class="btn btn-primary">I’d like a consult
                  </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</section>

<section class="my-5">
    <div class="container text-center" style="background: #E7EFEB; border-radius: 25px; padding:100px;">
        <h3 class="font-weight-bold">Let us worry about compliance  so you can focus on your business</h3><br>
        <p>We recognise the money and time it takes to getting the legal support you need to set up your operations and so we empower you to establish legally compliant operations so you can focus your time and money on your core business.
        </p>
        <a href="#" class="btn btn-primary">Let’s Get Started</a>

    </div>
</section>


<!-- Testimonial -->
    {% include 'testimonials.html' %}
<!-- End of Testimonial -->

<!-- faq -->
    {% include 'faq.html' %}
<!-- once page is live update faq.html with new style and uncomment the above line  -->


<!-- End of faq -->

</main>

{% block CTA %}
{% endblock %}

{% endblock content %}