{% load static %}

<style>
  .dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--theme-color)!important;
}
</style>

<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a href="/"><img style="height:48px" class="navbar-brand" src="{% static 'frontend/img/Logo-green.png' %}" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Products
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'frontend:templates' %}">Templates</a>
                <a class="dropdown-item" href="{% url 'frontend:packages' %}">StartBox Bundles</a>
                <a class="dropdown-item" href="{% url 'frontend:guidelines' %}">Articles</a>
        
              </div>
            </li>
            <a class="nav-item nav-link" href="{% url 'frontend:contact' %}">Consult Us</a>
       
            <!-- <a class="nav-item nav-link" href="#pricing">Pricing</a> -->
           
            <a class="nav-item nav-link" href="/cart">
              <!-- Show number of items in cart -->
                <i class="fa fa-shopping-cart" aria-hidden="true">
                <span class="badge badge-danger">{{ request.session.cart.keys|length }}</span>
                </i>
            </a>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hi, {{user.first_name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/profile">Profile</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
              </li>
         
            {% else %}
        
            <a href="/login"><button type="button" class="btn btn-primary" style="width: 100px;">Login</button></a>
            {% endif %}

     
          </div>
        </div>
    </nav>
    </header>