{% extends "base.html" %}

{% block content %}
{% load static %}

<style>

    .card-services{
        height:320px;
    }
    .card-services > img{
        height:80px;
        padding-bottom:1em;
    }
    .card-body> img{
        height:50px;
        padding-bottom:1em;
    }
    section{
        padding-bottom: 4em;
    }
    .gazette_txt{
        font-weight: 500;
    }
    .gazette {
        border-radius: 10px;
        border: 4px solid #C3EBEE;
    }
    .btn {
        color: #fff;
        background-color: var(--theme-color);
        border-color: var(--theme-color);
    }
    .pricing > .card > .card-body{
        min-height: 400px!important;
    }
    .theme-color{
        color:  var(--theme-color);
    }
    .card-services > .btn{
        color: var(--theme-color)!important;
        background-color: #fff;
        border-color: var(--theme-color);
    }
    .card-services > .btn:hover {
        background-color: var(--theme-color)!important; 
        color: white!important;
      }
 

    @media only screen and (max-width: 968px) {

        .card{
            margin-bottom: 2em;
        }
        .mobilenopadding{
            padding-top: unset!important;
            padding-left: unset!important;
        }
    }

</style>
      
    <main>  
     <section id="hero">
        <div class="container py-5">
            <div class="row">

                <div class="col-md-6">
                    <img class="img-fluid" src="{% static 'img/Rectangle 449.png' %}">
                </div>

                <div class="col-md-6 m-auto px-3">
                   
                    <h2 class="display-5 mb-3 theme-color"><strong>What is an {{object.product_name}}?</strong> </h2>
                    <p class="lead pb-3">An {{object.product_name}}  provides you with everything you need to consider when setting up your online-based business.</p>
                    <h2 class="display-5 mb-3 theme-color"><strong>Usage</strong> </h2>
                    <p class="lead pb-3">It includes an array of documents from what you need to register to the agreements you need to carry out your business, to ensuring you stay compliant.</p>
                    <h2 class="display-5 mb-3 theme-color"><strong>Who is it for?</strong> </h2>
                    <p class="lead pb-3">An {{object.product_name}} is for  any business owner whose business will be entirely digital.</p>

                    <div>
                      <form method="post" action="{%url 'ian_cart:cart_add'%}">
                          {%csrf_token%}
                          <input type="hidden" value="{{object.id}}" name="product_id">
                          <input type="hidden" value="1" name="quantity">
                          <button type="submit" class="btn btn-style-one"><i class="fa fa-shopping-cart pr-2" aria-hidden="true"></i>Add to Cart</button></a>
                      </form>
                  </div>
                    <!-- <a href="#packages"><button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Add to Cart</button></a> -->
                    
                </div>

            </div>
        </div>
     </section> 

<!-- Description -->
<Section class="py-3" >
    <div class="container my-5">
        <p class="theme-color text-center" style="font-size: 2em;">What’s Included?</p>
        <span>
            <p>The {{object.product_name}} includes:<br>

            </p>
            <ul>
              <li><strong>Entity Registration Guide:</strong>  This gives you a step-by-step process on how to go about registering your business all on your own</li>
              <li><strong>Business Permit Guide:</strong> This will highlight which permits you will need to run your specific business and how to procure the licences requires</li>
              <li><strong>Tax Compliance Guide: </strong>We guide you on the taxes you will need to file, why those taxes apply to you and how to file them on your own. </li>
              <li><strong>Employment Agreement:</strong> An Employment Agreement defines the legally binding and contractual relationship between an employer and employee. It is one of your company’s  most important documents.</li>
              <li><strong>Sale Agreement</strong> which is a legally binding contract outlining the agreed upon terms and conditions of the buyer and seller and ensures the protection of both parties’ interests. </li>
            </ul>

            <div class="text-center pt-3">
              <div>
                <form method="post" action="{%url 'ian_cart:cart_add'%}">
                    {%csrf_token%}
                    <input type="hidden" value="{{object.id}}" name="product_id">
                    <input type="hidden" value="1" name="quantity">
                    <button type="submit" class="btn btn-style-one"><i class="fa fa-shopping-cart pr-2" aria-hidden="true"></i>Add to Cart</button></a>
                </form>
            </div>
            <!-- <a href="#packages"><button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Add to Cart</button></a> -->
            </div>
        </span>
      
    

    </div>
</Section>
<!-- End of Description -->

<!-- Search -->
<Section class="py-3">
    <div class="container text-center my-5">
        <p style="font-size: 2em;">Looking  for a specific document?</p>
        <form class="form-inline">
            
            <input class="form-control col-md-10 " type="search" placeholder="Search Document" aria-label="Search">
         
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    

    </div>
</Section>
<!-- End of Search -->


<!-- Templates -->
<section id="packages" class="my-5">
  <div class="container text-center">
      <h2 class="mb-3 font-weight-bold" style="color: var(--theme-color);">Popular  Legal documents</h2>
      <!-- <p class="lead">We make it simple, easy and accessible for more people  to start businesses and stay compliant, all on their own.</p>  -->


      <div class="row row-cols-3">
        {% for item in dataset %}

        <div class="col-md-4">
          <div class="card text-white text-left bg-primary mb-3">
            <div class="card-body card-services d-flex flex-column">
      
              <h5 class="card-title mb-3"><strong>{{item.product_name}}
                </strong></h5>
                <p>Ksh {{item.price}}</p> 
              <p class="card-text">{{item.product_description}}
                </p>

              <a href="{{ item.get_absolute_url }}" class="mt-auto btn btn-outline-primary">More</a>

            </div>
          </div>
        </div>


        {% endfor %}
    </div>
  </div>
</section>

<!-- End of Templates -->

</main>

{% endblock content %}

