{% extends 'base.html' %}

{% block content %}
{% load static %}


<style>
    .container{
        padding: 20px;
    }
@media only screen and (max-width: 968px) {
    .mobile{
        padding-top: 3rem;
    }
}

</style>

<section class="my-5">
    <div class="container p-5">
        <span>
            <img class="img-fluid" src="{% static 'frontend/img/MPESA.png' %}" alt="Mpesa logo" width="150px">
        </span>
    <div class="row">
    
        <div class="col-md-6">
            <!-- create a template/modal to tell user that an mpesa sdk push has been sent to their phone -->


            <form action='{% url "payment:confirm-mpesa" %}' method='POST'>
                {% csrf_token %}    

                    
                <div class="form-group">
                    <!-- <p><b>Ensure the number entered is registered on Mpesa</b> </p> -->
                    <label for="Phone Number">Phone Number</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number" value="" placeholder="Please use the format 254XXXXXXXX" required >
                    <small class="form-text text-muted">Ensure you enter a valid phone number that you will use to pay via Mpesa</small>

                </div>


                <button type='submit'  class="btn btn-primary">Pay Now</button>
            </form>
        </div>
        <div class="col-md-6 mobile">
            <ul>
                <li>Click on the <b> Pay Now </b>Button to initiate a payment request on your phone</li>
                <li>Enter your MPESA Pin when prompted on your phone to complete payment</li>
            </ul>

        </div>



    </div>
        

    </div>
</section>


  
{% block CTA %}
{% endblock %}


{% endblock content %}