{% extends 'base.html' %}

{% block content %}

<style>
.container{
    padding: 20px;
}

</style>

<section>
    <div class="container">

    <!-- create a template/modal to tell user that an mpesa sdk push has been sent to their phone -->


    <form action='{% url "payment:confirm-mpesa" %}' method='POST'>
        {% csrf_token %}         
        <div class="form-group">
            <label for="Phone Number">Phone Number</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" value="254715806276" >
        </div>


        <button type='submit'  class="btn btn-primary">Click here to confirm your order</button>
    </form>
        

    </div>
</section>


  



{% endblock content %}