{% load static %}


<section style="background-color: #F0F6F6;" class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center font-weight-bold mb-3" >Testimonials</h2>
            </div>
            <div class="col-12">
                <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Slide Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <!-- Slide 1 -->
                        <div class="carousel-item active">
                            <div class="carousel-content text-center">
                                <p class="col-md-8 offset-md-2 font-italic">“StartBox is the one stop shop for legal and compliance documents and guidelines for startups and small business owners. 
                                    With StartBox, it becomes simple, easy and accessible for more people to start businesses and stay compliant.”
                                </p> <br>
                                <h3>Clara Kitungulu <br><span>StartBox Lead</span></h3>
                                <div class="client-img"><img src="{% static 'frontend/img/Clara.jpeg' %}" alt="Testimonial Slider"></div>
    
                            </div>
                        </div>
                        <!-- Slide 2 -->
                        <div class="carousel-item">
                            <div class="carousel-content text-center">
                                <p class="col-md-8 offset-md-2 font-italic">“StartBox is the one stop shop for legal and compliance documents and guidelines for startups and small business owners. 
                                    With StartBox, it becomes simple, easy and accessible for more people to start businesses and stay compliant.”
                                </p> <br>
                                <h3>Clara Kitungulu <br><span>StartBox Lead</span></h3>
                                <div class="client-img"><img src="{% static 'frontend/img/Clara.jpeg' %}" alt="Testimonial Slider"></div>
    
    
                            </div>
                        </div>
                        <!-- Slide 3 -->
                        <div class="carousel-item">
                            <div class="carousel-content text-center">
                                <p class="col-md-8 offset-md-2 font-italic">“StartBox is the one stop shop for legal and compliance documents and guidelines for startups and small business owners. 
                                    With StartBox, it becomes simple, easy and accessible for more people to start businesses and stay compliant.”
                                </p> <br>
                                <h3>Clara Kitungulu <br><span>StartBox Lead</span></h3>
                                <div class="client-img"><img src="{% static 'frontend/img/Clara.jpeg' %}" alt="Testimonial Slider"></div>
    
    
                            </div>
                        </div>
                        <!-- Slider pre and next arrow -->
                        <a class="carousel-control-prev text-dark" href="#testimonialCarousel" role="button" data-slide="prev">
                        <i style="color: #DF730F;" class="fas fa-chevron-left"></i>
                        </a>
                        <a class="carousel-control-next text-dark" href="#testimonialCarousel" role="button" data-slide="next">
                        <i style="color: #DF730F;" class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>