{% extends "base.html" %}

{% block content %}
{% load static %}

<section>
    <div class="container">
        <div class="row">
            <ol style="list-style-type: lower-alpha;">
                <li>Go to your mpesa menu</li>
                <li>Open lipa na mpesa</li>
                <li>Open paybill</li>
                <li>Enter paybill number <b>4018585</b></li>
                <li>Enter account number <b>Merch Jenga</b> or <b>Merch Seamless</b> or <b>Merch IAN</b> depending on the brand you are purchasing from</li>
                <li>Enter your total amount <b></b></li>
                <br>
                <br>
                <li>Once you pay, we will reach out to you with further details. Thank you for helping send a child to school!!</b></li>
            </ol>
        </div>
    </div>
</section>

{% endblock content %}