{% extends "base.html" %}

{% block title %}
Login
{% endblock %}


{% block content %}

{% load static %}
{% load crispy_forms_tags %}

{% block head  %}
    <!-- Canonical -->
    <link rel="canonical" href="https://startbx.com/login/">
{% endblock %}

<style>

    .content-section{
        margin: 0 auto;
        width:50%;
        border: 1px solid #d4cbcb40;
        border-radius: 4px;
        padding:19px 66px;
    }

    @media only screen and (max-width: 968px) {

        .content-section{
            all: unset;
        }
    }   
</style>


<div class="container p-5">
<div class="content-section">
 
 <form method="post" class="">
    <fieldset  class="form-group">

    <legend class="border-bottom mb-4"  style="text-align: center;"><h1>Sign in</h1></legend>
        {% csrf_token %}
        {{form|crispy}}
    </fieldset>
    <p class="text-muted"> <small>  Don't have an account? Create one <a style="color: #43a047!important;"  href="/register">here</a></small> </p>
    <button type="submit" class="btn">Login</button>

    </form>
</div>
</div>
{% endblock content %}